***REMOVED***
***REMOVED******REMOVED***"semi": true,
***REMOVED******REMOVED***"tabWidth": 4,
***REMOVED******REMOVED***"printWidth": 80,
***REMOVED******REMOVED***"endOfLine": "auto",
***REMOVED******REMOVED***"singleQuote": true,
***REMOVED******REMOVED***"trailingComma": "none",
***REMOVED******REMOVED***"arrowParens": "always"
***REMOVED***